[safe]
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
	directory = /home/vuacheslavmironov/JalurAdmin
[user]
	email = vuacheslav.mir@gmail.com
	name = VuacheslavMironov
